In [2]:
import pandas as pd

In [9]:
indust = pd.read_csv("ACSDT5Y2018.C24030_data_with_overlays_2020-07-22T172737.csv")

In [15]:
indust.fillna(0)
cols = indust.columns.drop(['GEO_ID', 'NAME'])
indust[cols] = indust[cols].apply(pd.to_numeric, errors='coerce')

In [16]:
indust

,GEO_ID,NAME,C24030_001E,C24030_001M,C24030_002E,C24030_002M,C24030_003E,C24030_003M,C24030_004E,C24030_004M,...,C24030_052E,C24030_052M,C24030_053E,C24030_053M,C24030_054E,C24030_054M,C24030_055E,C24030_055M,pop_indust_sum,other_indust_sum
0,id,Geographic Area Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1500000US371190030073,"Block Group 3, Census Tract 30.07, Mecklenburg...",703.0,221.0,470.0,134.0,0.0,12.0,0.0,12.0,...,0.0,12.0,0.0,12.0,50.0,76.0,0.0,12.0,7.822412e+18,9.171501e+20
2,1500000US371190030074,"Block Group 4, Census Tract 30.07, Mecklenburg...",685.0,183.0,334.0,105.0,0.0,12.0,0.0,12.0,...,0.0,12.0,0.0,12.0,20.0,32.0,0.0,12.0,1.266109e+17,1.437052e+23
3,1500000US371190030075,"Block Group 5, Census Tract 30.07, Mecklenburg...",385.0,107.0,211.0,66.0,0.0,12.0,0.0,12.0,...,11.0,18.0,0.0,12.0,0.0,12.0,0.0,12.0,7.244107e+18,1.619212e+20
4,1500000US371190030071,"Block Group 1, Census Tract 30.07, Mecklenburg...",335.0,137.0,201.0,81.0,0.0,12.0,0.0,12.0,...,0.0,12.0,14.0,23.0,12.0,20.0,0.0,12.0,1.271901e+16,1.017191e+21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,1500000US371190058241,"Block Group 1, Census Tract 58.24, Mecklenburg...",2151.0,242.0,1182.0,171.0,10.0,16.0,10.0,16.0,...,34.0,29.0,87.0,62.0,36.0,26.0,9.0,11.0,1.059143e+26,1.023410e+32
552,1500000US371190058261,"Block Group 1, Census Tract 58.26, Mecklenburg...",424.0,130.0,205.0,67.0,0.0,12.0,0.0,12.0,...,0.0,12.0,0.0,12.0,9.0,14.0,0.0,12.0,6.733443e+15,1.622870e+17
553,1500000US371190058281,"Block Group 1, Census Tract 58.28, Mecklenburg...",1116.0,157.0,624.0,110.0,11.0,16.0,11.0,16.0,...,8.0,13.0,8.0,14.0,59.0,37.0,0.0,12.0,1.221296e+22,1.131275e+26
554,1500000US371190058291,"Block Group 1, Census Tract 58.29, Mecklenburg...",588.0,197.0,239.0,127.0,0.0,12.0,0.0,12.0,...,42.0,45.0,0.0,12.0,0.0,12.0,0.0,12.0,2.923269e+18,7.111000e+20
555,1500000US371190030153,"Block Group 3, Census Tract 30.15, Mecklenburg...",475.0,125.0,227.0,70.0,0.0,12.0,0.0,12.0,...,17.0,19.0,3.0,6.0,19.0,22.0,9.0,14.0,1.995813e+17,1.147192e+22

In [19]:
# Popular Industries----
# men finance: C24030_014E
# womens finance: C24030_041E
# male healthcare: C24030_021E
# womens healthcare: C24030_048E
# male retail: C24030_009E
# female retail: C24030_036E
# male food: C24030_024E
# female food: C24030_051E
# men scientific: C24030_051E
# female scientific: C24030_044E
######
# All other industries----
# male agri: C24030_003E
# male construction: C24030_006E
# male manufacturing: C24030_007E
# male wholesale trade: C24030_008E
# male transpo: C24030_010E
# male info: C24030_013E
# male other: C24030_027E
# male PA: C24030_028E
# female agri: C24030_030E
# female construct: C24030_033E
# female manufacturing: C24030_034E
# female wholesale trade: C24030_035E
# female transpo: C24030_037E
# female info: C24030_040E
# female other: C24030_054E
# female pa: C24030_055E



indust["pop_indust_sum"] = indust["C24030_014E"] + indust["C24030_041E"] + indust["C24030_021E"] + indust["C24030_048E"] + indust["C24030_009E"] + indust["C24030_036E"] + indust["C24030_024E"] + indust["C24030_051E"] + indust["C24030_051E"] + indust["C24030_044E"]


indust["other_indust_sum"] = indust["C24030_003E"] + indust["C24030_006E"] + indust["C24030_007E"] + indust["C24030_008E"] + indust["C24030_010E"] + indust["C24030_013E"] + indust["C24030_027E"] + indust["C24030_028E"] + indust["C24030_030E"] + indust["C24030_033E"] + indust["C24030_034E"] + indust["C24030_035E"] + indust["C24030_037E"] + indust["C24030_040E"] + indust["C24030_054E"] + indust["C24030_055E"]



indust["total"] = indust["pop_indust_sum"] + indust["other_indust_sum"]
indust["pop_indust_sum"] = indust["pop_indust_sum"]/indust["total"]
indust["other_indust_sum"] = indust["other_indust_sum"]/indust["total"]

,GEO_ID,NAME,C24030_001E,C24030_001M,C24030_002E,C24030_002M,C24030_003E,C24030_003M,C24030_004E,C24030_004M,...,C24030_052M,C24030_053E,C24030_053M,C24030_054E,C24030_054M,C24030_055E,C24030_055M,pop_indust_sum,other_indust_sum,total
0,id,Geographic Area Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1500000US371190030073,"Block Group 3, Census Tract 30.07, Mecklenburg...",703.0,221.0,470.0,134.0,0.0,12.0,0.0,12.0,...,12.0,0.0,12.0,50.0,76.0,0.0,12.0,0.695721,0.304279,631.0
2,1500000US371190030074,"Block Group 4, Census Tract 30.07, Mecklenburg...",685.0,183.0,334.0,105.0,0.0,12.0,0.0,12.0,...,12.0,0.0,12.0,20.0,32.0,0.0,12.0,0.639871,0.360129,622.0
3,1500000US371190030075,"Block Group 5, Census Tract 30.07, Mecklenburg...",385.0,107.0,211.0,66.0,0.0,12.0,0.0,12.0,...,18.0,0.0,12.0,0.0,12.0,0.0,12.0,0.710027,0.289973,369.0
4,1500000US371190030071,"Block Group 1, Census Tract 30.07, Mecklenburg...",335.0,137.0,201.0,81.0,0.0,12.0,0.0,12.0,...,12.0,14.0,23.0,12.0,20.0,0.0,12.0,0.616046,0.383954,349.0

In [21]:
to_export = indust[["GEO_ID", "pop_indust_sum", "other_indust_sum"]]
to_export = to_export.iloc[1:,:]

In [22]:
to_export

                    GEO_ID  pop_indust_sum  other_indust_sum
1    1500000US371190030073        0.695721          0.304279
2    1500000US371190030074        0.639871          0.360129
3    1500000US371190030075        0.710027          0.289973
4    1500000US371190030071        0.616046          0.383954
5    1500000US371190038023        0.180000          0.820000
..                     ...             ...               ...
551  1500000US371190058241        0.605313          0.394687
552  1500000US371190058261        0.794045          0.205955
553  1500000US371190058281        0.648330          0.351670
554  1500000US371190058291        0.560403          0.439597
555  1500000US371190030153        0.643312          0.356688

[555 rows x 3 columns]

In [23]:
to_export.to_csv('industries_processed.csv', index=False)